.contact-me {
  padding: 89px 0 85px;
  background-color: #f6f6f6;
}
.contact-me .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  max-width: 90%;
}
.contact-me .container .contact-me-cover {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-me .container .contact-me-cover img {
  width: 100%;
  vertical-align: middle;
  transition: 0.5s ease;
}

.contact-me .container .contact-info {
  display: flex;
  flex-direction: column;
  flex: 1 1 50.08%;
}
.contact-me .container .contact-info .contact-description {
  margin-bottom: 36px;
}
.contact-me .container .contact-info .contact-description p {
  padding: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  color: #383a3b;
}

@media (max-width: 768px) {
  .contact-me .container {
    flex-direction: column;
    align-items: center;
  }
  .contact-me .container .contact-me-cover {
    margin: 0 113px;
    width: 100%;
    padding: 0 34px 70px;
  }
  .contact-me .container .contact-info {
    align-items: center;
    text-align: center;
  }
}
@media (max-width: 576px) {
}
